.table-container {
  width: 80%;
  overflow-x: auto;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #222;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.table thead {
  background-color: #333;
}

.table th {
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #333;
}

.table tbody tr:hover {
  background-color: #444;
}

.product-image-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.product-image-small:hover {
  cursor: pointer;
  transform: scale(5.25);
}

@media screen and (max-width: 600px) {
  .table {
    font-size: 14px;
  }

  .table th,
  .table td {
    padding: 8px; 
  }

  .product-image-small {
    width: 30px; 
    height: 30px;
  }

  .table-container {
    overflow-x: scroll; 
  }
}
