.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #af30c8;
  padding: 10px;
  color: #fff;
  height: 60px;
  margin-bottom: 20px;
}

.navbar-logo {
  margin-right: 10px;
}

.navbar-logo-image {
  width: 50px;
  height: 50px;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-title {
  font-size: 18px;
  font-weight: bold;
}

.navbar-content span {
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .navbar-content {
    margin-top: 10px;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
  }
}
