.form-container {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.form-content {
    background-color: #333;
    margin: 10% auto;
    padding: 20px;
    border-radius: 4px;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.checkbox-group {
    display: flex;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.form-group input {
    width: 90%;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 4px;
    font-size: 16px;
    background-color: #222;
    color: #fff;
    outline: 0;
}

.form-group input:focus {
  box-shadow: 0 0 5px #8B61F2;
}

.form-group-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
}

.form-group-checkbox label {
    margin-left: 10px;
}

.form-actions {
    text-align: right;
}

.form-group input[type="file"] {
    display: none;
}


.file-field {
    text-align: center;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background-color: #8B61F2;
}

.close-btn-container {
    text-align: right;
}